<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.les_intent2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.les_intent2.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.les_intent2.SecondActivity"
            android:label="@string/title_activity_second" >
            <intent-filter>
                <action android:name="com.example.road" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.les_intent2.DataActivity"
            android:label="@string/title_activity_data" >
            <intent-filter>
                <action android:name="com.example.film" />

                <data
                    android:mimeType="video/*"
                    android:scheme="http" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.les_intent2.CategoryActivity"
            android:label="@string/title_activity_category" >
        	<intent-filter >
        	    <action  android:name="com.example.shopping"/>
        	    <category android:name="android.intent.category.DEFAULT"/>
 				<category android:name="com.example.monkey"/>
 				<category android:name="com.example.feifei"/>
 				<category android:name="com.example.wugui"/>
        	</intent-filter>
        </activity>
    </application>

</manifest>
